@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* DEFAULT *************************/
* {
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Courier New', Courier, monospace; */
    font-size: 1rem;
    font-weight: 400;
    color: #333;
}

body,
ol,
ul {
  padding: 0;
  margin: 0;
}

section{
  padding: 10px 100px;
}

h1 {
  font-family: 'Poppins', sans-serif;
  color: #000;
  font-weight: 700;
  font-size: 2.5rem;
}

h2 {
  font-family: 'Poppins', sans-serif;
  color: #000;
  font-weight: 600;
  font-size: 2rem;
}

h3 {
  font-family: 'Poppins', sans-serif;
  color: #000;
  font-weight: 500;
  font-size: 1.5rem;
}

p {
    font-family: 'Poppins', sans-serif;
    color: #000;
    font-weight: 400;
}

b {
    font-weight: bold;
}


/* NAVIGATION BAR */
#navbar {
  background-color: #f3f3f3;
  padding: 8px 32px;
  position: sticky;
  top: 0;
  z-index: 999;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-items {
  display: flex;
  align-items: center;
}

.right-items {
  display: flex;
  align-items: center;
}

.logo {
  height: 40px;
}

.navbar-item {
  margin: 0 10px;
  padding: 5px;
  color: #333;
  font-weight: 600;
}

#saved-recipe {
  padding: 5px 10px;
}

#saved-recipe:hover {
  background-color: #ddd;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

#auth-container {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px 10px;
}

#authButton {
  cursor: pointer;
  padding: 10px 32px;
  background: linear-gradient(to right, #84BD00, #C4D600);
  box-shadow: 0 0 2px 2px rgba(196, 214, 0, 0.5);
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 10px;
}

#authButton:hover{
  cursor: pointer;
  padding: 10px 32px;
  background: #333;
  box-shadow: 0 0 2px 2px rgba(3, 3, 3, 0.5);
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 10px;
}



/* FOOTER */
footer{
  background-color: #84BD00;
  width: 100%;
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
}



/* HOME PAGE *************************/




/* FORM BOX */
.login-bg {
    background-color: #f3f3f3;
}

.form-box {
    width: 380px;
    height: 700px;
    position: relative;
    margin: 6% auto;
    background: #fff;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.form-box img {
    width: 100px;
    display: block;
    margin: 30px auto;
}

.button-box {
    width: 240px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 2px 2px rgba(196, 214, 0, 0.5);
    border-radius: 30px;
}

.toggle-btn {
    padding: 10px 30px;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    outline: none;
    position: relative;
}

#btn {
    top: 0;
    left: 0;
    position: absolute;
    width: 105px;
    height: 100%;
    background: linear-gradient(to right, #84BD00, #C4D600);
    border-radius: 30px;
    transition: .5s;
}

.social-icons {
    text-align: center;
}

.social-icons div {
    margin: 20px auto;
}

.google-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #84BD00, #C4D600);
    box-shadow: 0 0 2px 2px rgba(196, 214, 0, 0.5);
    color: white;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin: 20px auto;
}

.google-btn i {
    margin-right: 16px;
    color: #fff;
}

.input-group {
    width: 280px;
    transition: .5s;
    margin: auto;
    position: absolute;
}

.input-field {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background-color: transparent;
}

.submit-btn {
    width: 85%;
    padding: 10px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, #84BD00, #C4D600);
    border: 0;
    outline: none;
    border-radius: 30px;
    margin-top: 40px;
    color: #fff;
    font-weight: bold;
}

.check-box {
    margin-top: 16px;
    cursor: pointer;
}

#login-form {
    left: 50px;
}

#register-form {
    left: 450px;
}

/* BANNER ROTD */
.banner-container{
  cursor: pointer;
  position: relative;
  text-align: left;
  height: 44vh;
  margin-top: 40px;
}

.banner-container img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.banner__text{
  position: absolute;
  top: 4%;
  left: -4%;
  background: linear-gradient(to right, #84BD00, #C4D600);
  box-shadow: 0 0 2px 2px rgba(196, 214, 0, 0.5);
  padding: 10px 50px;
  color: #fff;
  border-radius: 5px;
  pointer-events: none;
}

.banner__info{
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
  padding: 10px 50px;
  border-bottom-left-radius: 20px;
  pointer-events: none;
}

.banner__info h2,
.banner__info h3
{
  margin-top: 0;
  margin-bottom: 5px;
  color: #fff;
}

.banner__img{
  height: 10px;
}

/* RECIPE CARDS */

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 260px;
    border-radius: 20px;
    margin: 16px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    background-color: rgba(243, 243, 243, 0.8);
    cursor: pointer;
}

.card__img {
    position: relative;
    text-align: center;
}

.card__img img {
    border-radius: 20px 20px 0 0;
    width: 100%;
}

.card__img div {
    position: absolute;
    top: 8px;
    right: 16px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.75);
}

.card__info {
    padding: 16px;
}

.card__info p {
    margin: 0;
}

.card__info h2 {
    margin: 8px 0;
}

.card_icons div {
    position: absolute;
    bottom: 8px;
    right: 16px;
}

.card__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 10px 0px;
}

.card__footer .icons {
    display: flex;
    align-items: center;
}

.card__footer .icons>div {
    margin-left: 10px;
}

.fa-regular.fa-comment,
.fa-regular.fa-heart {
    margin-right: 5px;
}



/* SEARCH BOX */
.meal-search {
    margin: 2rem 0;
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.meal-search-box {
    margin: 1.2rem 0;
    display: flex;
    align-items: stretch;
}

.search-control,
.search-btn {
    width: 100%;
}

.search-control {
    padding: 0 1rem;
    font-size: 1rem;
    font-family: inherit;
    outline: 0;
    border: 1px solid #84BD00;
    color: #333;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
}

.search-control::placeholder {
    color: #666;
}

.search-btn {
    width: 55px;
    height: 55px;
    font-size: 1.8rem;
    background: #84BD00;
    color: #333;
    border: none;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    cursor: pointer;
}

.search-btn:hover {
    background: #519B00;

}

.search-btn i {
    color: #fff;
}

.meal-categories {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.category-btn {
  font-weight: bold;
  background: #84BD00;
  color: #fff;
  border: none;
  border-radius: 2rem;
  margin: 5px;
  cursor: pointer;
  padding: 4px 16px;
}

.category-btn:hover {
  background: #519B00;
}

.category-btn i {
  color: #fff;
}


/* RECIPE PAGE *************************/

/* HERO SECTION */
#hero{
  padding: 0;
  margin: 0;
}

.hero-container{
  cursor: pointer;
  position: relative;
  text-align: left;
  height: 60vh;
}

.hero-container img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* RECIPE CONTENT SECTION */

.recipe__header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.title-wrapper {
  display: flex;
  align-items: center;
  
}

.title-wrapper h1{
  margin: 0;
  margin-right: 16px;
}

.icon-wrapper {
  display: flex;
  align-items: center;
}

.icon-counter{
  margin-left: 8px;
  font-size: 1rem;
}

.heart-icon,
.comment-icon {
  margin-top: 16px;
  margin-right: 32px; 
}

.video-wrapper{
  position: relative;
  padding-bottom: 56.25%;
}

.video-wrapper iframe{
  position: absolute;
  width: 100%;
  height: 100%;
}

.recipe__ing,
.recipe__ins,
.recipe__video,
.recipe__more {
  margin-top: 64px;
}

.recipe__more{
  display: flex;
  justify-content: center;
  align-items: center;
}



/* UNSORTED */
#welcome-message {
    margin-right: 20px;
}

#recipe-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#bookmark{
  min-height: 70vh;
}

#bookmark-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.recipe-icon {
    margin-left: 10px;
}

.heartRed {
    color: red;
}

.bookmarkBlue {
  color: midnightblue;
}

.icon {
  cursor: pointer;
}

/* RESPONSIVENESS */
@media (max-width: 800px) {
  section {
    padding: 16px;
  }
  .card{
    width: 90%;
  }
}