@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* DEFAULT */

* {
  font-family: 'Poppins', sans-serif;
  /* font-family: 'Courier New', Courier, monospace; */
  font-size: 1rem;
  font-weight: 400;
  color: #333;
}

h1 {
  font-family: 'Poppins', sans-serif;
  color: #000;
  font-weight: 700;
}

h2 {
  font-family: 'Poppins', sans-serif;
  color: #000;
  font-weight: 600;
}

h3 {
  font-family: 'Poppins', sans-serif;
  color: #000;
  font-weight: 500;
}

p {
  font-family: 'Poppins', sans-serif;
  color: #000;
  font-weight: 400;
}

/* NAVIGATION BAR */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fff;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

/* FORM BOX */

.login-bg {
  background-color: #f3f3f3;
}

.form-box {
  width: 380px;
  height: 620px;
  position: relative;
  margin: 6% auto;
  background: #fff;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.form-box img {
  width: 100px;
  display: block;
  margin: 30px auto;
}

.button-box {
  width: 240px;
  margin: 35px auto;
  position: relative;
  box-shadow: 0 0 2px 2px rgba(196, 214, 0, 0.5);
  border-radius: 30px;

}

.toggle-btn {
  padding: 10px 30px;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  outline: none;
  position: relative;
}

#btn {
  top: 0;
  left: 0;
  position: absolute;
  width: 130px;
  height: 100%;
  background: linear-gradient(to right, #84BD00, #C4D600);
  border-radius: 30px;
  transition: .5s;
}

.social-icons{
  text-align: center;
}

.social-icons div{
  margin: 20px auto;
}

.google-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, #84BD00, #C4D600);
  box-shadow: 0 0 2px 2px rgba(196, 214, 0, 0.5);
  color: white;
  font-weight: bold;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  margin: 20px auto;
}

.google-btn i {
  margin-right: 16px;
  color: #fff;
}

.input-group{
  width: 280px;
  transition: .5s;
  margin: auto;
  position: absolute;
}

.input-field{
  width: 100%;
  padding: 10px 0;
  margin: 5px 0;
  border: 0;
  border-bottom: 1px solid #999;
  outline: none;
  background-color: transparent;
}

.submit-btn{
  width: 85%;
  padding: 10px;
  cursor: pointer;
  display: block;
  margin: auto;
  background: linear-gradient(to right, #84BD00, #C4D600);
  border: 0;
  outline: none;
  border-radius: 30px;
  margin-top: 40px;
  color: #fff;
  font-weight: bold;
}

.check-box {
  margin-top: 16px;
}

#login-form{
  left: 50px;
}

#register-form{
  left: 450px;
}


